<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | File Manager</title>
    <link rel="stylesheet" href="{{url_for('static',filename='tailwind/output.css')}}">
   
</head>
<body>
    <div class="flex-row row-auto">
        {% include "assets/sidebar.html" %}
    </div>
    
    {% include "assets/navbar.html" %}
    

    <div class="">
        <p class="text-primary font-semibold">Folder</p>
        <br>
        <p class="text-primary font-semibold">File</p>
    </div>

</body>
</html> -->

{% extends 'assets/base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="">
  <div class="bg-secondary rounded-lg w-10">
    <div class="flex p-2 justify-between">
      <span class="text-primary font-semibold "> Judul </span>
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
      </svg>
    </div>
  </div>
</div>
{% endblock %}