<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | File Manager</title>
    <link rel="stylesheet" href="{{url_for('static',filename='tailwind/output.css')}}">
   
</head>
<body>
    {% include "assets/sidebar.html" %}
    
    {% include "assets/navbar.html" %}
    

    <div class="">
        <p class="text-primary font-semibold">Folder</p>
        <br>
        <p class="text-primary font-semibold">File</p>
    </div>

</body>
</html> -->

{% extends 'assets/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="">
    <p class="text-primary font-semibold">Folder</p>
    <br>
    <p class="text-primary font-semibold">File</p>
</div>
{% endblock %}