<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <link rel="stylesheet" href="{{url_for('static',filename='tailwind/output.css')}}">
</head>
<body>
    <section class="h-full bg-tertier flex items-center justify-center">
        <div class="bg-secondary box w-1/4 h-1/2">
            <div class="bg-primary w-full px-5 py-3">
                <p class="text-tertier font-extrabold text-xl">Login Page</p>
                <p class="text-tertier">Login terlebih dahulu sebelum memulai</p>
            </div>

        </div>   
    </section>
</body>
</html>