<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static',filename='tailwind/output.css')}}" />
  <title>{% block title %}{% endblock %} | File Manager</title>
  {% endblock %}
</head>

<body>
  <div class="flex overflow-y-scroll w-full bg-tertier">
    {% include 'assets/sidebar.html' %}

    <div class="w-full">
      {% include 'assets/navbar.html' %}

      <div class="flex flex-1 p-6 ">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>